.github/
.idea/
node_modules/
.DS_Store
.gitattributes
**.tgz
bun.lockb
eslint.config.js
index.js
package-lock.json
pnpm-lock.yaml
tsup.config.js
tsconfig.json
yarn.lock
yarn-debug.log*
yarn-error.log*